/* signup.html에 관련된 css 스타일 태그 모음 */
*{
    margin :0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    /* background: #141E30; */
    background: #09131b;
    overflow: hidden;
}

div#wrapper{   
    position: relative;
    text-align:center;
}

/* div#wrapper h1{
    clear: both;
    position: absolute;
    font-size: 300%;
    display: inline;
    color: white;

    /* 중앙정렬
    top:40%;
    left:50%;
    transform:translate(-50%, -50%)
} */


#menuicon + label{
    position: absolute;
    margin-top: 20px;
    margin-left: 44%;
}


#loginField{    
    position: absolute;
    z-index: 2;
    /* 중앙정렬 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    background-color: rgb(233, 229, 229);
    border-radius: 3%;
    box-shadow: 3px 3px 30px black;
    border: none;
    width: 300px;
    height: 400px;
}


#loginField h2{
    text-align: center;
    margin: 30px;
}

.idForm{  
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}
    
.passForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}

.id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
  
.pwd{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
  
.btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;

    /* btn 그라데이션 배경 + 간단한 애니메이션 */
    background: linear-gradient(125deg,#a03f5f,#6b6b83,#3b8d99);
    background-position: left;
    background-size: 200%;

    color:white;
    font-weight: bolder;
    border:none;
    cursor:pointer;

    transition: 0.4s;
    display:inline;
}

.btn:hover {
    background-position: right;
}

.bottomText {
    text-align: center;
}


hr{
    margin: 0 25px 20px; 
    background-color: rgb(185, 184, 184); 
    border: 0; 
    height: 2px;
}

#singup{
    border-radius: 3px;
    margin-top: 20px;
    color: gray;
    cursor: pointer;
}

#singup:hover{
    box-shadow: 1px 1px 4px rgb(167, 166, 166);
}



/* 방명록 */
#gusetBook{
    position: absolute;
    z-index: 3;
    visibility: hidden;
    width: 700px;
    height: 600px;
    
    
    /* 중앙정렬 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    border-radius: 3%;
    box-shadow: 5px 5px 40px black;
    background-color: rgb(233, 229, 229);
}
form[name=entryForm]{
    height: 200px;
}
#tbl-write{
    width: 550;
    margin: 0 auto;
    border-bottom: none;
}
#userName{
    width: 100px;
    margin-right: 20px;
}

#userContent{
    width: 400px;
    margin-right: 20px;
}

#tbl-entry{
    /* vertical-align: top; */
    /* height: 500px; */
    width: 670px;
    margin: 0 auto;
}
#tbl-entry td{
    border-bottom: 1.2px solid black;
}





/* 회원가입 창 */
#signup{
    position: absolute;
    z-index: 3;
    visibility: hidden;
    border: none;
    width: 300px;
    height: 400px;
    
    /* 중앙정렬 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    border-radius: 3%;
    box-shadow: 5px 5px 40px black;
    background-color: rgb(233, 229, 229);
}



#signupBtn{
    transition: 0;
}
#signup>h2{
    padding-left: 40px;
    text-align: center;
    margin: 0 auto;
}

#signup>div:last-child{
    width: 300px;
    height: 300px;

    position: absolute;
    /* 중앙정렬 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* 회원가입 창 닫기 */
input[type ="checkbox"]{
    display: none;
}

input[type ="checkbox"]+label{
    float: right;
    width: 2.5em;
    height: 2.5em;
    position: relative;
    cursor: pointer;
    margin-right: 1vh; 
}

input[type ="checkbox"]+label span{
    float: right;
    display: block;
    width: 100%;
    height: 0.6vh;
    position: absolute;
    border-radius: 30px;        
    background-color: white;
}

input[id ="closeicon"]+label span:nth-child(1){
    top : 50%;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: 2px 2px 1px gray ;
}
input[id ="closeicon"]+label span:nth-child(2){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    box-shadow: -2px 2px 1px gray ;
}