/* hobby.html에 관련된 css 태그 모음 */
body{
    background-color: #bdd5e6;
}

#menuicon + label{
    position: fixed;
    margin-top: 20px;
    margin-left: 93%;
}


#hobby-wrap{
    width: 1000px;
    height: 700px;
    text-align: center;
    top: 20%;
    transform: translateY(20%);
}

.hobby{
    position: relative;
    top: 0;
    border-radius: 12% 5%;
    display: inline-block;
    background-color: whitesmoke;
    box-shadow: 3px 3px 10px gray;
    margin: 10px 30px 20px;
    width: 250px;
    height: 290px;
    overflow: hidden;
}
#hobby-wrap>div > img{
    position: absolute;
    width: 150px;
    height:  150px;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
}


.title{    
    position: absolute;
    border-radius: 12% 5%;    
    background-color: black;
    width: 250px;
    height: 290px;
    /* top: -290px; */
    opacity: 0;

    /* 변경시작 */
    transform : translateY(290px);
    opacity: 0;
    transition: all .6s  ease-out;

    color: whitesmoke;
}

.content-wrap{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content-wrap h3{
    margin-bottom: 10px;
}

.hobby:hover{
    cursor: pointer;
}
.hobby:hover .title{
    /* 변경 */
    transform : translateY(0);
    opacity: .9;
}