/* index.html page에 관련된 css 스타일 태그 모음 */
body{
    width: 100%;
    height: 100%;
    /* background: #141E30; */
    background: #09131b;
    overflow: hidden;
}

div#wrapper{   
    position: relative;
    text-align:center;
}
h1{
    clear: both;
    position: absolute;
    font-size: 300%;
    display: inline;
    color: white;

    /* 중앙정렬 */
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}
#btn1{
    position: absolute;
    border: black;

    /* 중앙정렬 */
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}