/* 자기소개 page 관련 css 스타일 태그 모음 */
* { 
    margin:0; 
    padding:0; 
    /* font-family: 'Do Hyeon', sans-serif; */
    
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: bold; */
}


#menuicon + label{
    position: fixed;
    margin-top: 20px;
    margin-left: 93%;
}


.container h2{
    margin: 0 6vh;
    text-shadow: 3px 3px 3px gray;
}

/* 고정 navgation bar */
header{
    margin: 0 auto;
    text-align: center;  
}
header div{
    position: fixed;
    background-color: #538bad;
    height: 50px;
    width: 40%;
    font-size: 85%;
    /* padding: 10px 0; */
    /* position:fixed된 block요소를 가운데 정렬 */
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow:  2px 2px 10px gray;
 
    border-radius: 0 0 20px 20px ;
    text-align: center;
}
header div ul{
    display: inline-block;
    padding: 8px 0;
    list-style: none;    
}	

header div ul li{
    float: left;
    margin: 0 1.5em;
    transform:translate(0, 50%);
    text-align: center;
}	
header div ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.on a{
    color: white;
    text-shadow: 3px 3px 3px black;
}


/* section */
#contents > section {
    /* section마다 위 아래 padding */
    padding:50px 0; 
}






/* section1 (ABOUT ME) */
#section1 {
    height: 500px;
}
#section1 h2{
    margin: 0 auto;
}
#section1 div ul{   
    list-style: none;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}
#section1 ul li{
    display: inline-block;
    margin: 20px 40px 20px 0 ;
    height: 100%;
    text-align: center;
}
 
#section1 ul li:first-child img{
    margin: 20PX auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#section1 ul li:first-child h2{ 
    margin-top: 8vh;
    margin-bottom: 1.5vh;
    color: whitesmoke;
    font-weight: bolder;
}

#section1 ul li:first-child span{ 
    text-align: left;
    color: whitesmoke;
    font-size: 6px;
}


/* ABOUT ME content */
#section1 ul li:last-child{ 
    left: 200px;
    width: 60%;
    margin: 30px 40px;
    text-align: left;
}

#section1 ul li:last-child h2{
    text-shadow: 3px 3px 3px gray;
}
#section1 ul li:last-child p{
    margin: 20px auto;
    font-size: 18px;
    width: 100%;
}

#contents>section:nth-child(2n-1){
    clear: both;
    background-color:#bdd5e6;
}
#contents>section:nth-child(2n){
    clear: both;
}




















/* section2 */
#section2{
    height: 800px;
}
#section2 >div{
    margin: 2vh auto;
    position:relative;
}

#section2 >div > h2{
    padding-left: 30px;
    text-shadow: 3px 3px 3px gray;
    margin: 6vh 30px;
}
.pie-chart {
    display: inline-block;
    position:relative;
    z-index: 1;
    padding: 10px;
    width: 150px;
    height: 150px;    
    border-radius: 50%;
    transition: 0.3s;
    margin: 0 2vw;
}
#section2 >div >div >div img{
    position:absolute;
    width: 130px;
    height: 130px;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    text-align:center; line-height: 200px;
}
#section2 >div >div{
    text-align: center;
    padding: 10px;
}
#web:hover{
    cursor: pointer;
}

#skills{
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    z-index: 3;
    width: 500px;
    height: 300px;
    background-color: #bdd5e6;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 30px gray;
}

#mainSkill , #subSkill{
    /* display: flex; */
    height: 200px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#mainSkill>div ,#subSkill>div{
    display: inline-block;
}
#mainSkill>div>h3 ,#subSkill>div>h3{
    margin-bottom: 1vh;
}



/* 버튼 */
input[type ="checkbox"]{
    display: none;
}

input[type ="checkbox"]+label{
    float: right;
    width: 4vw;
    height: 4vh;
    position: relative;
    cursor: pointer;
    margin-right: 1vh; 
}

input[type ="checkbox"]+label span{
    display: block;
    float: right;
    width: 100%;
    height: 0.6vh;
    position: absolute;
    border-radius: 30px;        
    background-color: white;
}

input[id ="closeicon"]+label span:nth-child(1){
    top : 50%;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: 2px 2px 1px gray ;
}
input[id ="closeicon"]+label span:nth-child(2){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    box-shadow: -2px 2px 1px gray ;
}

#left{
    position: absolute;
    top:50%; left:4%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#right{
    position: absolute;
    top:50%; right: 0%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}



/* 슬라이딩 이미지 */
.webSkill{
    position: absolute;
    width: 150px;
    height: 150px;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}




/* section3 */
#section3{
    height: 1000px;
}
#section3 .project_wrapper{
    list-style: none;
    width: 100%;
}
#section3 .project_wrapper li{
    width: 950px;
    height: 200px;
    margin: 30px auto;
}

#section3 .project_img{
    float: left;
    margin-right: 2em;
    margin-top: 1em;
    width: 140px;
    height: 140px;
    border-radius: 10%;
    box-shadow: 3px 3px 10px gray;
}


/* ABOUT ME content */
#section3 .project_contents{
    float: left;
    width: 700px;
    /* margin: 2em 2em; */
    padding-right: 2em;
    font-size: 15px;
}
#section3 .project_contents h3{
    margin-bottom: 10px;
}

.git{
    cursor: pointer;
}





/* section4 */
/* 


#section4 a{
    margin: 0 30px;
    text-decoration: none;
    color: #305a74;
    font-size: 20px;
} */